.body-background{
    background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/color-pencils-and-paper-vector-background_fkrVKxD__SB_PM.jpg");
    background-position: center;
    background-size: cover;
}
#circle_canvas{
    background-color: white;
}